---
---

@import "{{ site.theme }}";

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
tr { vertical-align: top; }
table tr:nth-child(even) { background-color: inherit; }

.verse {
    list-style-type: none;
    margin-left: 0
}

.footnotes {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    padding-top: 20px;
    margin-top: 20px
}
.footnotes > ol {
    margin-left: 20px
}